@using DandyDoc.Web.Mvc4.Helpers
@model DandyDoc.CodeDoc.ICodeDocMemberRepository
@{
  Layout = "./_Layout.cshtml";
  ViewBag.EntityTitle = "All Namespaces";
}
<section>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><i class="icon-info-sign"></i></th>
        <th>Namespace</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var namespaceModel in Model.Namespaces) {
        <tr>
          <td><i class="icon-gift"></i></td>
          <td>@Html.ActionLink(namespaceModel)</td>
        </tr>
      }
    </tbody>
  </table>
</section>