header {
    padding: 20px;
    text-rendering: optimizeLegibility;
    background-color: #123;
    color: #dedede;
}

header h1 {
    color: #fefefe;
}

h1 span, h2 span {
    display: inline-block;
    word-break: break-all;
}

h1 small, h2 small {
    color: #555;
}

.navbar .navbar-inner {
    background-color: #345;
}

.nuget-badge code {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1.5em 'andale mono', 'lucida console', monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px;
}
