@model DandyDoc.Core.ViewModels.IDefinitionViewModel
@{
	if (null != Model.Remarks) {
		Html.RenderPartial("Partials/RemarksSection", Model.Remarks);
	}
	if (null != Model.Examples && Model.Examples.Count > 0) {
		<h2>Examples</h2>
		foreach (var node in Model.Examples) {<div class="doc-page-section doc-page-example">@{ Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBaseChildren", node); }</div>}
	}
	if (null != Model.SeeAlso && Model.SeeAlso.Count > 0) {
		<h2>See Also</h2>
		foreach (var node in Model.SeeAlso) {<div class="doc-page-section doc-page-see-also">@{ Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBase", node); }</div>}	
	}
}