@model IEnumerable<DandyDoc.Core.ViewModels.EventSummaryViewModel>
<div class="doc-page-member-listing">
<table>
	<tr><th>Name</th><th>Description</th></tr>
@foreach (var e in Model){
	<tr>
		<td><a href="@Url.Action("Index",new{cref=e.Cref})">@e.DisplayName</a></td>
		<td>@if(null != e.Summary){Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBase", e.Summary);}</td>
	</tr>
}
</table></div>