@model IEnumerable<DandyDoc.Overlays.XmlDoc.ParsedXmlException>
<table class="table table-bordered table-condensed">
	<thead><tr><th>Exception</th><th>Condition</th></tr></thead>
	<tbody>
	@foreach (var exception in Model){
	<tr>
		<td>@exception.CRef</td>
		<td>@{
				  if (exception.Children.Count > 0){
					  Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBaseChildren", exception);
				  }
				  else{
					  ; // TODO: create a default condition
				  }
			  }</td>
	</tr>
	}
</tbody></table>