@model IEnumerable<DandyDoc.Core.ViewModels.FieldSummaryViewModel>
<div class="doc-page-member-listing">
<table>
	<tr><th>Name</th><th>Description</th></tr>
@foreach (var field in Model){
	<tr>
		<td><a href="@Url.Action("Index",new{cref=field.Cref})">@field.DisplayName</a></td>
		<td>@if(null != field.Summary){Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBase", field.Summary);}</td>
	</tr>
}
</table></div>