@model IEnumerable<DandyDoc.ViewModels.MemberFlair>
<table class="table table-bordered table-condensed">
@foreach (var flair in Model){
	<tr>
		<th>@{Html.RenderPartial("Partials/FlairIcon", flair);}</th>
		<td>@flair.CategoryName</td>
		<td>@flair.Description</td>
	</tr>
}
</table>