@model IEnumerable<DandyDoc.Core.ViewModels.MethodSummaryViewModel>
<div class="doc-page-member-listing">
<table>
	<tr><th>Name</th><th>Description</th></tr>
@foreach (var item in Model.OrderBy(x => x.DisplayName)){
	<tr>
		<td><a href="@Url.Action("Index",new{cref=item.Cref})">@item.DisplayName</a></td>
		<td>@if(null != item.Summary){Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBase", item.Summary);}</td>
	</tr>
}
</table></div>