@model DandyDoc.Core.ViewModels.AssemblyNamespaceViewModel
<div><b>Namespace:</b> @Model.Namespace</div>
<div><b>Assembly:</b> @Model.Assembly.Name.Name (@(new FileInfo(Model.Assembly.MainModule.FullyQualifiedName).Name))</div>