@model DandyDoc.ViewModels.AssemblyNamespaceViewModel
<div><b>Namespace:</b> <span id="current-namespace">@Model.Namespace</span></div>
<div><b>Assembly:</b> @Model.Assembly.Name.Name (@(new FileInfo(Model.Assembly.MainModule.FullyQualifiedName).Name))</div>