@model DandyDoc.Core.Overlays.XmlDoc.ParsedXmlElementBase
@if (null == Model) {return;}
<h2>Remarks</h2>
<div class="doc-page-section doc-page-remarks">@{Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBaseChildren", Model);}</div>