@using DandyDocSite.Models
@model DandyDoc.SimpleModels.Contracts.ITypeSimpleModel
@{
Layout = "./_Layout.cshtml";
<section>
	<h2>Values</h2>
	@{ Html.RenderPartial("DandyDoc/Partials/SimpleModelTable", Model.Fields); }
</section>
}