@model DandyDoc.SimpleModels.Contracts.IFieldSimpleModel
@{ Layout = "./_Layout.cshtml"; }
<dl>
	<dt>Type</dt>
	<dd>
		@{Html.RenderPartial("DandyDoc/Partials/TypeLink", Model.FieldType);}
	</dd>
</dl>
@if (Model.HasValueDescription){
<section> 
	<h2>Value</h2>
	@{Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", Model.ValueDescription);}
</section>
}