@using DandyDocSite.Models
@model DandyDoc.SimpleModels.Contracts.ITypeSimpleModel
@{
	Layout = "~/Views/Docs/Api/_Layout.cshtml";
	var memberSets = new MemberSet[]{
		MemberSet.Create("Nested Types", Model.NestedTypes),
		MemberSet.Create("Delegates", Model.NestedDelegates)
	}.Where(set => set.HasModels);
}
@foreach (var memberSet in memberSets) {
<section>
	<h2>@memberSet.Title</h2>
	@{Html.RenderPartial("Api/Partials/SimpleModelTable", memberSet.SimpleModels);}
</section>
}