h1 span, ul.nav-list span {
	display: inline-block;
}
.nav-list > li > a {
	display: inline-block;
	margin: 0;
	padding: 0;
}
header {
	padding: 20px;
	text-rendering: optimizeLegibility;
}
header {
	background-color: #123;
	color: #fefefe;
}
header p {
	color: #dedede;
}
footer {
	border-top: 1px solid #d3d3d3;
}
.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.namespace-nav {
	font-size: 12px;
}
nav.namespace-nav > ul {
	padding-left: 0;
}