h1 span, ul.nav-list span {
	display: inline-block;
}
.nav-list > li > a {
	display: inline-block;
	margin: 0;
	padding: 0;
}
header {
	padding: 20px;
	text-rendering: optimizeLegibility;
}
header {
	background-color: #123;
	color: #fefefe;
}
header p {
	color: #dedede;
}
footer {
	border-top: 1px solid #d3d3d3;
}
.navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.namespace-nav {
	font-size: 12px;
}
nav.namespace-nav > ul {
	padding-left: 0;
}
table th {
	background-color: #eee;
}
.nuget-badge code {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #202020;
	border: 4px solid #c0c0c0;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #6e6e6e;
	color: #e2e2e2;
	display: block;
	font: 1.5em 'andale mono', 'lucida console', monospace;
	line-height: 1.5em;
	overflow: auto;
	padding: 15px;
}