@using System.Web.Optimization
@using DandyDoc.ViewModels
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css/bootstrap","~/css/docs","~/css/sh")
</head>
	<body>
		<header>
			<div class="container">
				<h1>Sample &amp; Testing Documentation</h1>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span4 navigation-span">
					@if (ViewBag.TypeNavigationViewModel == null){
						<div>Navigation not available.</div>
					}
					else{
						Html.RenderPartial("Partials/TypeNavigationSideMenu", ViewBag.TypeNavigationViewModel as TypeNavigationViewModel);
					}
				</div>
				<div class="span8">
					@RenderBody()
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="span4">
						Docs built with <a href="http://github.com/aarondandy/dandy-doc">Dandy Doc</a>
					</div>
					<div class="span4">
						ASP.NET MVC4 Documentation Sample
					</div>
					<div class="span4">
						<div>Icons from <a href="http://glyphicons.com/">Glyphicons</a></div>
					</div>
				</div>
			</div>
		</footer>
		@Scripts.Render("~/bundles/jquery","~/bundles/bootstrap","~/bundles/docs","~/bundles/sh")
		<script type="text/javascript">
			SyntaxHighlighter.defaults['toolbar'] = false;
			SyntaxHighlighter.defaults['gutter'] = false;
			SyntaxHighlighter.all();
		</script>
	</body>
</html>