@using DandyDoc.ViewModels
@model TypeViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout.cshtml";
}
<h1>@Model.Title</h1>
@if (Model.HasSummary) {Html.RenderPartial("Partials/SummarySection", Model.Summary);}
@{ Html.RenderPartial("Partials/NamespaceAndAssembly", Model.AssemblyNamespace);}
@{Html.RenderPartial("Partials/SimpleMemberTable", Model.ToEnumValueViewModels(Model.ExposedStaticFields));}
@{Html.RenderPartial("Partials/DefinitionPageCommonSections", Model);}