@using DandyDoc.ViewModels
@model TypeViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout.cshtml";
}
<h1>@Model.Title</h1>
@if (Model.HasSummary) {Html.RenderPartial("Partials/SummarySection", Model.Summary);}
@if (Model.Flair.Count > 0) {Html.RenderPartial("Partials/FlairTable", Model.Flair);}
@{Html.RenderPartial("Partials/NamespaceAndAssembly", Model.AssemblyNamespace);}
@{Html.RenderPartial("Partials/SimpleMemberTable", Model.ToEnumValueViewModels(Model.ExposedStaticFields));}
@{Html.RenderPartial("Partials/DefinitionPageCommonSections", Model);}