@model DandyDoc.Core.ViewModels.EventViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout.cshtml";
}
<h1>@Model.Title</h1>
@{
	if (null != Model.Summary) {Html.RenderPartial("Partials/SummarySection", Model.Summary);}
	Html.RenderPartial("Partials/DefinitionPageCommonSections", Model);	
}