@model DandyDoc.ViewModels.MethodViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout.cshtml";
}
@{
	Html.RenderPartial("Partials/DefinitionTitle", Model);
	if (null != Model.Summary) { Html.RenderPartial("Partials/SummarySection", Model.Summary);}
	if (Model.Flair.Count > 0) {Html.RenderPartial("Partials/FlairTable", Model.Flair);}
	Html.RenderPartial("Partials/NamespaceAndAssembly", Model.AssemblyNamespace);
	if (Model.HasSignatures) { Html.RenderPartial("Partials/DefinitionSignatures", Model.Signatures); }
	if (Model.Definition.HasGenericParameters){Html.RenderPartial("Partials/GenericParameterListing", Model.ToGenericParameterViewModels(Model.Definition.GenericParameters));}
	if (Model.Definition.Parameters.Count > 0) {
		<h2>Parameters</h2>
		Html.RenderPartial("Partials/ParameterListing", Model.CreateParameterViewModels(Model.Definition.Parameters));
	}
	if (Model.HasReturn) {Html.RenderPartial("Partials/ReturnsSection", Model.CreateReturnViewModel());}
	if (Model.HasExceptions) { Html.RenderPartial("Partials/ExceptionSection", Model.ExceptionGroups); }
	//if (Model.HasRequires){
	//	<h2>Requires</h2>
	//	Html.RenderPartial("Partials/RequiresTable", Model.ToRequiresViewModels(Model.Requires));
	//}
	if (Model.HasEnsures){
		<h2>Ensures</h2>
		Html.RenderPartial("Partials/EnsuresTable", Model.ToEnsuresViewModels(Model.Ensures));
	}
	Html.RenderPartial("Partials/DefinitionPageCommonSections", Model);
}