@using System.Text.RegularExpressions
@using DandyDoc.ViewModels
@model DandyDoc.ViewModels.TypeNavigationNamespaceViewModel
@functions{
	static readonly Regex TitleSplitRegex = new Regex(@"(?<=[.,;\<\(\[])");
	static IEnumerable<string> TitleParts(string title){
		return TitleSplitRegex.Split(title);
	}
}
@{
	ViewBag.Title = Model.FullName;
	Layout = "_Layout.cshtml";
}
<h1>@foreach(var part in TitleParts(Model.FullName)){<span>@part</span>} <small>Namespace</small></h1>

<div><b>Namespace:</b> <span id="current-namespace">@Model.FullName</span></div>
<dl>
	<dt>Assemblies:</dt>
	<dd>
		<ul class="unstyled">
			@foreach (var assembly in Model.Assemblies) {
				<li>@assembly.Name.Name (@(new FileInfo(assembly.MainModule.FullyQualifiedName).Name))</li>
			}
		</ul>
	</dd>
</dl>

@{
	Html.RenderPartial("Partials/SimpleMemberTable", Model.ExposedTypeViewModels);
}