@model DandyDoc.ViewModels.PropertyViewModel
@{
	ViewBag.Title = Model.Title;
	Layout = "_Layout.cshtml";
}
@{Html.RenderPartial("Partials/DefinitionTitle", Model);}
@{
	if (null != Model.Summary) { Html.RenderPartial("Partials/SummarySection", Model.Summary);}
	if (Model.Flair.Count > 0) {Html.RenderPartial("Partials/FlairTable", Model.Flair);}
	Html.RenderPartial("Partials/NamespaceAndAssembly", Model.AssemblyNamespace);
}
<h2>Signature</h2>
<div>Type: <a href="#">@Model.Definition.PropertyType.FullName</a></div>
@if (Model.HasExposedGet){
	var getViewModel = Model.GetViewModel;
	var getFlair = getViewModel.Flair.Where(f => Model.Flair.All(x => x.Id != f.Id)).ToList();
	<h2>Getter</h2>
	if (getFlair.Count > 0) { Html.RenderPartial("Partials/FlairTable", getFlair); }
	if (getViewModel.HasExceptions) {
		Html.RenderPartial("Partials/ExceptionTable", getViewModel.Exceptions);
	}
	if (getViewModel.HasRequires) {
		Html.RenderPartial("Partials/RequiresTable", getViewModel.ToRequiresViewModels(getViewModel.Requires));
	}
	if (getViewModel.HasEnsures) {
		Html.RenderPartial("Partials/EnsuresTable", getViewModel.ToEnsuresViewModels(getViewModel.Ensures));
	}
}
@if (Model.HasExposedSet){
	var setViewModel = Model.SetViewModel;
	var setFlair = setViewModel.Flair.Where(f => Model.Flair.All(x => x.Id != f.Id)).ToList();
	<h2>Setter</h2>
	if (setFlair.Count > 0) { Html.RenderPartial("Partials/FlairTable", setFlair); }
	if (setViewModel.HasExceptions) {
		Html.RenderPartial("Partials/ExceptionTable", setViewModel.Exceptions);
	}
	if (setViewModel.HasRequires) {
		Html.RenderPartial("Partials/RequiresTable", setViewModel.ToRequiresViewModels(setViewModel.Requires));
	}
	if (setViewModel.HasEnsures) {
		Html.RenderPartial("Partials/EnsuresTable", setViewModel.ToEnsuresViewModels(setViewModel.Ensures));
	}	
}
@if (null != Model.ValueDoc) {
	<h2>Value</h2>
	<div class="doc-page-section">@{ Html.RenderPartial("ParsedXmlDoc/ParsedXmlNodeBaseChildren", Model.ValueDoc); }</div>
}
@if (Model.HasExceptions){
	<h2>Exceptions</h2>
	Html.RenderPartial("Partials/ExceptionTable", Model.Exceptions);
}
@{Html.RenderPartial("Partials/DefinitionPageCommonSections", Model);}