@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage
@{
  ViewBag.Title = "Dandy Doc";
  ViewBag.SubTitle = "API Reference";
  var codeDocRepositories = this.AppHost.TryResolve<CodeDocRepositories>();
}
<div class="container">
  <div class="row">
    <section class="span12">
      <h1>All Namespaces</h1>
      @if (codeDocRepositories != null) {
        @(this.ActionLinkList(codeDocRepositories.TargetRepository.Namespaces))
      }
    </section>
  </div>
</div>

