@model IEnumerable<DandyDoc.SimpleModels.Contracts.IContractConditionSimpleModel>
<table class="table table-bordered table-condensed">
	<thead><tr><th>Description</th><th>Condition</th></tr></thead>
	<tbody>
	@foreach (var assurance in Model){
		<tr>
			<td>@{Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", assurance.Description);}</td>
			<td>
				@if (assurance.HasException) {
					Html.RenderPartial("DandyDoc/Partials/TypeLink", assurance.Exception);
				} 
				else {<text>Successful execution.</text>}
			</td>
		</tr>
	}
</tbody></table>