@model DandyDoc.SimpleModels.Contracts.IParameterSimpleModel
@{
if (Model.HasSummary) {<div>@{ Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", Model.Summary); }</div>}
<div>Type: @{Html.RenderPartial("DandyDoc/Partials/TypeLink", Model.Type);}</div>
	if (Model.HasFlair) {
	<ul class="unstyled">
		@foreach (var f in Model.Flair) {
		<li>@{
				Html.RenderPartial("DandyDoc/Partials/FlairIcon", f);
			  Html.Raw(" ");
				Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", f.Description);
			}</li>
		}
	</ul>
	}
}