@using DandyDocSite.Infrastructure
@model DandyDoc.SimpleModels.Contracts.ISimpleMemberPointerModel
@{
	var linkResolver = ViewBag.ApiDocLinkResolver as ApiDocLinkResolver;
	string link = null;
	if (null != linkResolver) {
		link = linkResolver.GetUrl(Model);
	}

	if (String.IsNullOrEmpty(link)) {
		Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", Model.Description);
	}
	else {<a href="@link">@{Html.RenderPartial("DandyDoc/Partials/ComplexTextRender", Model.Description);}</a>}
}