@model IEnumerable<DandyDoc.SimpleModels.Contracts.ISimpleMemberPointerModel>
<ul class="unstyled">@foreach (var pointer in Model) {
	<li style="text-indent: -7px;">@{Html.RenderPartial("DandyDoc/Partials/TypeLink", pointer);}</li>
}</ul>
