@inherits ServiceStack.Razor.ViewPage
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  <link type="text/css" rel="stylesheet" href="~/css/bootstrap.cosmo.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <header class="span12">
        <h1>@ViewBag.Title</h1>
        @if (!String.IsNullOrWhiteSpace(ViewBag.SubTitle)) {<p class="lead">@ViewBag.SubTitle</p>}
      </header>
    </div>
  </div>
  @RenderBody()
  <div class="container">
    <div class="row">
      <div class="span12">
        footer
      </div>
    </div>
  </div>
  <script type="text/javascript" src="~/js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="~/js/bootstrap.js"></script>
</body>
</html>
