 @inherits ServiceStack.Razor.ViewPage
@{
  ViewBag.Title = "Dandy Doc";
  ViewBag.SubTitle = ".NET Documentation Your Way";
}
<div class="container">
  <div class="row">
    <div class="span12">
      <p class="lead">
        .NET documentation exactly how you want it.
      </p>

      <h2>Features</h2>
      <ul>
        <li>Processes standard code XML documentation tags.</li>
        <li>Handles <a href="http://research.microsoft.com/en-us/projects/contracts/">Microsoft Code Contracts</a> XML-doc extensions.</li>
        <li>Provides code documentation models to use as you like.</li>
      </ul>

      <h2>Get It</h2>
      <div class="nuget-badge"><p><code>PM&gt; Install-Package DandyDoc.CodeDoc</code></p></div>
      <small>Provides code documentation models for your assemblies.</small>
      
      <h2>Get Started</h2>
      Read the <a href="Docs/">quick start guide</a>.

      <h2>License</h2>
      <p>
        Using an MIT/X11 license. See <a href="https://github.com/aarondandy/dandy-doc/blob/master/dandy-doc.license">dandy-doc.license</a> for details.
        Further information can be found on <a href="http://www.tldrlegal.com/license/mit-license">tl;drLegal</a>.
      </p>
    </div>
  </div>
</div>