<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>

    <!-- remove namespaces because they are inherited from the parent site -->
    <pages>
      <namespaces>
        <remove namespace="System.Web.Helpers"/>
        <remove namespace="System.Web.Mvc"/>
        <remove namespace="System.Web.Mvc.Ajax"/>
        <remove namespace="System.Web.Mvc.Html"/>
        <remove namespace="System.Web.Mvc.Routing"/>
        <remove namespace="System.Web.Mvc.WebPages"/>
      </namespaces>
    </pages>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders>
    </compilation>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ServiceStack.Factory"/>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>

</configuration>
