@{
	ViewBag.Title = "Examples";
	ViewBag.SubTitle = "Dandy Doc in Action";
}
<div class="container">
	<div class="row">
		<div class="span12">
			Nobody uses it <code>:(</code>
		</div>
	</div>
</div>
