@{
	ViewBag.Title = "Dandy Doc";
	ViewBag.SubTitle = "Make your documentation just how you want it.";
}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate ipsum ipsum, ut commodo velit. Morbi luctus, est in tincidunt pharetra, nisi metus malesuada sapien, id commodo orci mauris posuere justo. Curabitur eget dignissim dolor. Quisque adipiscing, arcu a auctor eleifend, magna tellus vestibulum felis, eu rhoncus ante neque non metus. Pellentesque vel elit ac ante dapibus mattis ut non dui. Phasellus sit amet tortor eget ipsum commodo laoreet a sed nisl. Duis eu augue neque. Pellentesque tincidunt, felis nec ultricies blandit, diam orci sagittis nisi, vitae tempus libero ligula in libero. Nam aliquet mauris et lorem laoreet eget ornare arcu tempus. Phasellus viverra mi non ipsum tincidunt vel fermentum velit consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla sit amet orci dolor.
			</p>
			<p>
				Quisque ligula leo, porttitor sit amet mollis non, condimentum non nisi. Sed congue mi sed mauris convallis adipiscing. Phasellus in tortor ut leo convallis congue. In nec nisi tellus, id cursus libero. Quisque rutrum mattis aliquet. Vestibulum eu mauris lorem. Nam consequat imperdiet elit. Quisque eget libero et risus commodo gravida. Sed porttitor dictum consequat. Sed tincidunt bibendum scelerisque. Fusce ut odio id augue mattis suscipit id ut augue. Nulla commodo elit vel ligula molestie tincidunt. Aliquam fringilla dui eu ipsum tincidunt pulvinar mollis lectus suscipit. Curabitur dictum luctus nulla id bibendum. Sed non lectus diam, ac pellentesque lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
			<p>
				Duis in tellus et ligula pellentesque vestibulum. Duis eu sapien nisl, et tristique elit. Nulla posuere erat ac sapien mollis a mollis tellus vulputate. Integer nec libero ac purus ornare suscipit in eu tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam pellentesque consequat quam, ac feugiat dolor mollis at. Integer in nulla eros.
			</p>
		</div>
	</div>
</div>
