@{
	ViewBag.Title = "Dandy Doc";
	ViewBag.SubTitle = "Make .NET documentation just how you want it.";
}

<div class="container">
	
	<section class="row">
		<div class="span12">
			<p class="lead">
				Create your own documentation for your .NET assemblies.
			</p>
		</div>
		<div class="span4 offset1">
			<ul>
				<li><i class="icon-thumbs-up"></i> Zero configuration.</li>
				<li><i class="icon-thumbs-up"></i> Get documentation just how you want it.</li>
			</ul>
		</div>
		<div class="span4 offset2">
			<ul>
				<li><i class="icon-thumbs-down"></i> Zero configuration.</li>
				<li><i class="icon-thumbs-down"></i> You have to write some code.</li>
			</ul>
		</div>
	</section>

	<section class="row">
		<div class="span12">
			<h2>Features</h2>
			<ul>
				<li>Write code.</li>
				<li>No XML configuration.</li>
				<li>Support for basic in-code XML documentation tags.</li>
				<li>Support for <a href="http://research.microsoft.com/en-us/projects/contracts/">Microsoft Code Contracts.</a></li>
				<li>No conversion or HTML compilation required; use your assemblies as your database.</li>
			</ul>
		</div>

	</section>
	
	<section class="row">
		<div class="span12">
			<h2>Get it with NuGet</h2>
		</div>
		<div class="span4">
			<a href="http://nuget.org/packages/DandyDoc.SimpleModels">Dandy Doc: Simple Models</a>
			<p>
				Simple models that can be used to generate your own .NET documentation.
			</p>
		</div>
		<div class="span8">
			<div class="nuget-badge"><p><code>PM&gt; Install-Package DandyDoc.SimpleModels</code></p></div>
		</div>
		<div class="span4">
			<a href="http://nuget.org/packages/DandyDoc.Core">Dandy Doc: Core</a>
			<p>
				The base library providing the foundation.
			</p>
		</div>
		<div class="span8">
			<div class="nuget-badge"><p><code>PM&gt; Install-Package DandyDoc.Core</code></p></div>
		</div>
	</section>

</div>
