.doc-page-member-listing table {
	width: 100%;
}
h1 {
	font-size: 35px;
}
h1 span {
	display: inline-block;
}
header {
	border-bottom: 1px solid #aaa;
}
footer {
	border-top: 1px solid #aaa;
	text-align: center;
}
table th {
	background-color: #eee;
}
.namespace-nav, .namespace-nav div, .namespace-nav li {
	white-space: nowrap;
}
.namespace-nav {
	padding-left: 0;
}
.navigation-span {
	border-right: 1px solid #ccc;
	overflow: auto;
}