@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage
@{
  ViewBag.SubTitle = "Documentation";
}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Getting Started</h1>
    </div>
  </div>
</div>
