@model IEnumerable<DandyDoc.SimpleModels.Contracts.IFlairTag>
<table class="table table-bordered table-condensed">
@foreach (var flair in Model){
	<tr>
		<th>@{Html.RenderPartial("Api/Partials/FlairIcon", flair);}</th>
		<td>@flair.Category</td>
		<td>@{Html.RenderPartial("Api/Partials/ComplexTextRender", flair.Description);}</td>
	</tr>
}
</table>
