@model IEnumerable<DandyDoc.SimpleModels.Contracts.ISimpleMemberPointerModel>
<ul class="unstyled">@foreach (var pointer in Model) {
	<li style="text-indent: -7px;">@{Html.RenderPartial("Api/Partials/TypeLink");}</li>
}</ul>
