<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ContentServiceBinding" />
                <binding name="ContentServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContentServiceBinding"
                contract="MsdnContentService.ContentServicePortType" name="ContentService" />
            <endpoint address="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContentServiceBinding1"
                contract="MsdnContentService.ContentServicePortType" name="ContentService1" />
        </client>
    </system.serviceModel>
</configuration>