@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
  <body>
    <h1>Site Header</h1>
    @RenderBody()
    <div>footer</div>
  </body>
</html>
