@using DandyDoc.CodeDoc
@inherits ServiceStack.Razor.ViewPage<ICodeDocInvokable>
@{
  
  if (Model.HasParameters) {
    <section>
      <h2>Parameters</h2>
      TODO: parameter list
    </section>
  }
  
  if (Model.HasReturn) {
    <section>
      <h2>Returns</h2>
      TODO: return parameter
    </section>
  }
  
  if (Model.HasExceptions) {
    <section>
      <h2>Exceptions</h2>
      TODO: exception listing
    </section>
  }
  
  if (Model.HasNormalTerminationEnsures) {
    <section>
      <h2>Ensures on Successful Execution</h2>
      TODO: normal ensures listing
    </section>
  }
  
}
