@using DandyDoc.CodeDoc
@inherits ServiceStack.Razor.ViewPage<CodeDocEvent>
@{
  Layout = "_ApiDocsLayout";
}
<section>
  <dl>
    <dt>Type</dt>
    <dd>TODO: link to Model.DelegateType</dd>
  </dl>
</section>
