@using DandyDoc.CodeDoc
@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage<ICodeDocInvokable>
@{
  
  if (Model.HasParameters) {
    <section>
      <h2>Parameters</h2>
      @this.CodeDocParameters(Model.Parameters)
    </section>
  }
  
  if (Model.HasReturn) {
    <section>
      <h2>Returns</h2>
      @this.CodeDocParameterDetails(Model.Return)
    </section>
  }
  
  if (Model.HasExceptions) {
    <section>
      <h2>Exceptions</h2>
      @this.CodeDocExceptions(Model.Exceptions)
    </section>
  }
  
  if (Model.HasNormalTerminationEnsures) {
    <section>
      <h2>Ensures on Successful Execution</h2>
      @this.CodeDocSimpleCodeContractTable(Model.NormalTerminationEnsures)
    </section>
  }
  
}
