@using DandyDoc.CodeDoc
@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage<CodeDocField>
@{
  Layout = "_ApiDocsLayout";
}
<section>
  <h2>Value</h2>
  
  <dl>
    <dt>Type</dt>
    <dd>@this.ActionLinkFull(Model.ValueType)</dd>
  </dl>

  @if (Model.HasValueDescriptionContents) {
    <div>@this.XmlDocHtml(Model.ValueDescriptionContents)</div>
  }
</section>