@using DandyDoc.CodeDoc
@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage<CodeDocProperty>
@{
  Layout = "_ApiDocsLayout";
}
<section>
  <h2>Value</h2>
  <p><b>Type:</b> TODO: value type link</p>
  @if (Model.HasValueDescriptionContents) {
    @this.XmlDocHtml(Model.ValueDescriptionContents)
  }
</section>
@if (Model.HasGetter && true /*CodeDocAccessorIsWorthDisplaying*/) {
  <section>
    <h2>Getter</h2>
    @this.CodeDocAccessor(Model.Getter)
  </section>
}
@if (Model.HasSetter && true /*CodeDocAccessorIsWorthDisplaying*/) {
  <section>
    <h2>Setter</h2>
    @this.CodeDocAccessor(Model.Setter)
  </section>
}