@using DandyDoc.CodeDoc
@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage<CodeDocDelegate>
@{
  Layout = "_ApiDocsLayout";
  if (Model.HasGenericParameters) {
    <section>
      <h2>Generic Parameters</h2>
      @this.CodeDocParameters(Model.GenericParameters)
    </section>
  } 
}
@Html.Partial("CodeDocInvokablePartial", Model)