@using DandyDoc.CodeDoc
@inherits ServiceStack.Razor.ViewPage<CodeDocDelegate>
@{
  Layout = "_ApiDocsLayout";
  if (Model.HasGenericParameters) {
    <section>
      <h2>Generic Parameters</h2>
      TODO: generic parameter list
    </section>
  } 
}
@Html.Partial("CodeDocInvokablePartial", Model)